<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
    ">
<!--    开启注解扫描-->
    <mvc:annotation-driven/>
<!--    配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp"/>
        <property name="suffix" value=".jsp"/>
    </bean>
<!--    配置不拦截资源-->
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
<!--    配置json-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>


<!--&lt;!&ndash;    设置扫描的包&ndash;&gt;-->
<!--    <context:component-scan base-package="hhct.part_time_jobs.controller"/>-->
<!--&lt;!&ndash;   配置拦截器&ndash;&gt;-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--&lt;!&ndash;            全部拦截&ndash;&gt;-->
<!--            <mvc:mapping path="/**"/>-->
<!--&lt;!&ndash;            设置不拦截信息&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/js/**"/>-->
<!--&lt;!&ndash;            拦截器类&ndash;&gt;-->
<!--          -->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->
   
   
<!--   配置文件上传-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="3145728"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
   
    <!--    配置验证码属性-->
    <bean id="config" class="com.google.code.kaptcha.util.Config">
        <constructor-arg>
            <props>
                <prop key="kaptcha.textproducer.char.length">4</prop>
                <prop key="kaptcha.image.width">150</prop>
                <prop key="kaptcha.image.height"></prop>
            </props>
        </constructor-arg>
    </bean>
    <!-- 生成验证码对象 -->
    <bean id="producer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config" ref="config"></property>
    </bean>
</beans>